<div class="container">
    <div class="row detail-main mt-5" *ngIf="singleFungi | async; let fungus">
        <div class="col-lg-6 col-md-12 fungus-detail">
            <h1 @slideSide>{{fungus[0].payload.val().name}}</h1>
            <app-info-component [ngStyle]="{'width': '100%'}" class="desc" @slideUp *ngFor="let info of infos"
                [data]="info"></app-info-component>
        </div>
        <div class="col-lg-6 col-md-12 model-style">
            <div class="" *ngIf="fungus[0].payload.val().model != 'nomodel'">
                <model-viewer src="assets/3Dmodels/{{fungus[0].payload.val().model}}/scene.gltf" alt="fungus model"
                    auto-rotate camera-controls ar ios-src="assets/3Dmodels/{{name}}/scene.gltf"></model-viewer>
            </div>
        </div>
    </div>
</div>