<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3 style="margin-left: 10px;">Reset Password</h3>
      <p style="margin-left: 10px; max-width: 400px;">Please enter your email address to request a password reset.</p>
      <div class="formGroup">
        <input type="email" class="input-style" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup" style="margin-left: 10px;">
        <input type="submit" class="basic-button" value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <div class="redirectToLogin" style="margin-left: 10px;">
      <span class="redirect small-link" routerLink="/sign-in">Sign In</span>
    </div>
    <div class="alert-msg" *ngIf="authService.alertMsgFirebase">
      <p>{{authService.alertMsgFirebase}}</p>
    </div>
  </div>
</div>