<div class="container foot">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 copy ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navi">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/main" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/author" routerLinkActive="active">Author</a>
                </li>
            </ul>
            <p>NIKOLAGUTIC&#169;2022</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <h1>collēctiō</h1>
            <ul>
                <li>COPYWRITHING&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><a href="">Nikola Gutic</a><br>
                <li>DESIGN, DEVELOP&nbsp;&nbsp;</li><a href="">Nikola Gutic</a><br>
            </ul>
        </div>
    </div>
</div>