.error-msg{
    p{
        color: brown;
        max-width: 400px;
        margin-left: 10px;
    }
}

.succ-msg{
    p{
        color: greenyellow;
        max-width: 400px;
        margin-left: 10px;
    }
}
.input-style{
    margin-left: 0px;
    margin-bottom: 20px;
}