.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0) !important;

    &:focus {
        border: none!important;
        box-shadow: none!important;
    }
}

.navbar {
    padding: 0px 150px;
    background-color: rgba(0, 0, 0, 0) !important;
    width: 100%;

    .contain {
        position: absolute;
        height: 10vh;
        top: 0px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10%;
    }


    .navi {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: end;
        flex-direction: row;

        li {
            padding: 15px 20px;
            font-size: 1.2rem;
        }
    }
}

.navbar-brand {
    color: #212529;
    font-style: italic;
}