<div class="fungi-content" [ngStyle]="animateBlock" style="background-image: url('../../../../../assets/images/{{data.image}}'); background-position: center;
                background-repeat: no-repeat;
                background-size: cover;">
    <div class="layer" [ngStyle]="hoverLayer">
    </div>
    <span class="content">
        <a aria-current="page" [routerLink]="['/fungus-details', data.model]" routerLinkActive="active">
            <p class="info" [ngStyle]="animateText">{{data.name}}</p>
        </a>
    </span>
</div>