.main {
    .side {
        font-size: 10rem;
        font-family: Bagerich;
    }

    .side-left {
        p {
            position: relative;
            top: -50px;
            transform: rotate(90deg) scale(1, -1);
        }
    }

    .side-right {
        p {
            position: relative;
            top: -50px;
            transform: rotate(90deg);
        }
    }

    .info {
        padding-top: 150px;
        width: 100%;
        margin-bottom: 150px;
    }

    .image {
        img {
            width: 80%;
            float: right;
        }
    }

    .author {
        h1 {
            font-size: 5rem;
            font-family: Bagerich;

        }

        p {
            text-align: justify;
        }
        a{
            color:#222222;
        }
    }
}