<div class="main">
    <div class="row">
        <div class="col-2">
            <div class="side side-left">
                <p>less.less.less.less.</p>
            </div>
        </div>
        <div class="col-8">
            <div class="info">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-10 image">
                        <img src="../../../assets/images/author1.jpeg">
                    </div>
                    <div class="col-md-6 col-10 author">
                        <h1>Hello I'm Nikola</h1>
                        <p>I am studying at the College of Information and Communication Technologies, majoring in
                            Internet
                            Technology and I enjoy everything this college has to offer, web3 enthusiast and I work at A
                            Tavola, a
                            great startup company that develops technology based on computer vision, designed for
                            collection,
                            analysis and data use for improving restaurant front and back of the house operations, as
                            well
                            as to optimize overall operations and efficiency of the restaurants.</p>
                        <p><a href="../../../assets/dokumentacija.pdf">---Documentation</a></p>
                        <p><a href="https://github.com/NNikolaG/TheFungus" target="_blank" >---Source Code</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="side side-right">
                <p>less.less.less.less.</p>
            </div>
        </div>
    </div>
</div>