<div class="fungi-content" *ngIf="data.items[0]" [ngStyle]="animateBlock" style="background-image: url({{imageSrc}}); background-position: center;
                background-repeat: no-repeat;
                background-size: cover;">
    <div class="layer" [ngStyle]="hoverLayer">
    </div>
    <span class="content">
        <a aria-current="page" [routerLink]="[getLink(), transformUrl(data.title)]" routerLinkActive="active">
            <p class="info" [ngStyle]="animateText">{{data.title}}</p>
        </a>
    </span>
</div>