@font-face {
    font-family: 'Bagerich';
    src: url('../assets/fonts/FontsFree-Net-Bagerich.ttf');
}

@font-face {
    font-family: 'Agrandir';
    src: url('../assets/fonts/Agrandir\ Regular\ 400.otf');
}

@font-face {
    font-family: "Bowl";
    src: url("../assets/fonts/BowlbyOneSC-Regular.ttf");
}
