<div class="container main">
    <div class="row fun-facts">
        <div class="image-slide left-slide" [ngStyle]="slideLtoR">
            <img src="assets/images/back.png" alt="">
        </div>
        <div class="col-12 quote" id="x">
            <h1 [ngStyle]="quoteShow">"Nature alone is antique, and the oldest art a mushroom."</h1>
        </div>
        <div class="image-slide right-slide" [ngStyle]="slideRtoL">
            <img src="assets/images/back.png" alt="">
        </div>
    </div>

    <app-fun-facts></app-fun-facts>

    <!-- <div class="row">
        <div class="col-7">
            <iframe width="100%" height="500px" src="https://www.youtube.com/embed/iboE8UZBgkM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div> -->
    <!-- <iframe width="1350" height="502" src="https://www.youtube.com/embed/tOM6QJCK8Lg" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe> -->
</div>